<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.server.mapper.WhitelistInfoMapper">

    <resultMap type="WhitelistInfo" id="WhitelistInfoResult">
        <result property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="userName" column="user_name"/>
        <result property="userUuid" column="user_uuid"/>
        <result property="onlineFlag" column="online_flag"/>
        <result property="qqNum" column="qq_num"/>
        <result property="remark" column="remark"/>
        <result property="reviewUsers" column="review_users"/>
        <result property="status" column="status"/>
        <result property="addState" column="add_state"/>
        <result property="addTime" column="add_time"/>
        <result property="removeReason" column="remove_reason"/>
        <result property="removeTime" column="remove_time"/>
        <result property="servers" column="servers"/>
    </resultMap>

    <sql id="selectWhitelistInfoVo">
        select id, time, user_name, user_uuid, online_flag, qq_num, remark, review_users, status, add_state, add_time, remove_reason, remove_time, servers
        from whitelist_info
    </sql>

    <select id="selectWhitelistInfoList" parameterType="WhitelistInfo" resultMap="WhitelistInfoResult">
        <include refid="selectWhitelistInfoVo"/>
        <where>
            <if test="time != null ">and time = #{time}</if>
            <if test="userName != null  and userName != ''">and user_name like concat('%', #{userName}, '%')</if>
            <if test="userUuid != null  and userUuid != ''">and user_uuid = #{userUuid}</if>
            <if test="onlineFlag != null ">and online_flag = #{onlineFlag}</if>
            <if test="qqNum != null  and qqNum != ''">and qq_num = #{qqNum}</if>
            <if test="reviewUsers != null  and reviewUsers != ''">and review_users = #{reviewUsers}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="addState != null  and addState != ''">and add_state = #{addState}</if>
            <if test="addTime != null ">and add_time = #{addTime}</if>
            <if test="removeReason != null  and removeReason != ''">and remove_reason = #{removeReason}</if>
            <if test="removeTime != null ">and remove_time = #{removeTime}</if>
            <if test="servers != null  and servers != ''">and servers = #{servers}</if>
        </where>
    </select>

    <select id="selectWhitelistInfoById" parameterType="Long" resultMap="WhitelistInfoResult">
        <include refid="selectWhitelistInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertWhitelistInfo" parameterType="WhitelistInfo" useGeneratedKeys="true" keyProperty="id">
        insert into whitelist_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">time,</if>
            <if test="userName != null">user_name,</if>
            <if test="userUuid != null">user_uuid,</if>
            <if test="onlineFlag != null">online_flag,</if>
            <if test="qqNum != null">qq_num,</if>
            <if test="remark != null">remark,</if>
            <if test="reviewUsers != null">review_users,</if>
            <if test="status != null">status,</if>
            <if test="addState != null">add_state,</if>
            <if test="addTime != null">add_time,</if>
            <if test="removeReason != null">remove_reason,</if>
            <if test="removeTime != null">remove_time,</if>
            <if test="servers != null">servers,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="userName != null">#{userName},</if>
            <if test="userUuid != null">#{userUuid},</if>
            <if test="onlineFlag != null">#{onlineFlag},</if>
            <if test="qqNum != null">#{qqNum},</if>
            <if test="remark != null">#{remark},</if>
            <if test="reviewUsers != null">#{reviewUsers},</if>
            <if test="status != null">#{status},</if>
            <if test="addState != null">#{addState},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="removeReason != null">#{removeReason},</if>
            <if test="removeTime != null">#{removeTime},</if>
            <if test="servers != null">#{servers},</if>
        </trim>
    </insert>

    <update id="updateWhitelistInfo" parameterType="WhitelistInfo">
        update whitelist_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">time = #{time},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="userUuid != null">user_uuid = #{userUuid},</if>
            <if test="onlineFlag != null">online_flag = #{onlineFlag},</if>
            <if test="qqNum != null">qq_num = #{qqNum},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="reviewUsers != null">review_users = #{reviewUsers},</if>
            <if test="status != null">status = #{status},</if>
            <if test="addState != null">add_state = #{addState},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="removeReason != null">remove_reason = #{removeReason},</if>
            <if test="removeTime != null">remove_time = #{removeTime},</if>
            <if test="servers != null">servers = #{servers},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWhitelistInfoById" parameterType="Long">
        delete
        from whitelist_info
        where id = #{id}
    </delete>

    <delete id="deleteWhitelistInfoByIds" parameterType="String">
        delete from whitelist_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="checkRepeat" parameterType="WhitelistInfo" resultMap="WhitelistInfoResult">
        <include refid="selectWhitelistInfoVo"/>
        <where>
            <if test="userName != null  and userName != ''">and user_name = #{userName}</if>
            <if test="qqNum != null  and qqNum != ''">or qq_num = #{qqNum}</if>
        </where>
    </select>
</mapper>